<!DOCTYPE html>
<html>
<head>
  <title>Tasks2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= image_tag("logos/rails_logo.png", size: '65x55') %>

  <%= render 'shared/nav' %>

  

<%= yield %>

</body>
</html>
